/* .homeCard {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}

.homeCard a {
    text-decoration: none;
    color: rgb(66, 40, 61);
}

.card {
    max-width: 300px;
    color: green;
    margin: auto;
    width: 50%;
    padding: 3px;
}

#Trello-box {
    float: left;
}

#Slack-box {
    float: right;
} */